body{
    width: 100%;
    height: 120rem;
    position: relative;
    background-color: #bae9ff;
    overflow-x: hidden;
    font-family: Roboto, sans-serif;
    color: #001133;
    font-size: 1.15rem;
    overflow-x: hidden;
}

.body-content{
    width: 85%;
    height: 110rem;
    background-color: #def9ff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    border-radius: 50px;
}

#main-table{
    padding: 7rem 4rem 4rem 4rem;
}

#summary{
    text-align:center;
    flex-direction: column;
}

/* ------------------------------------------------------------------------------------------------ */

#market-row{
    height: 25rem; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#market-row .content{
    display: flex;
    width: 90%;
    height: 18rem; 
}

#market-row .timeline{
    height: 18rem;
}

#market-row .timeline-body{
    height: 18rem;
    width: 0.2rem;
    background-color: #001133;
}

#market-row .timeline-event{
    height: 1.15rem;
    width: 1.15rem;
    border-radius: 50%;
    background-color: #001133;
    border-style: solid;
    border-color: #def9ff;
    position: absolute; 
    transform: translateX(-40%);    
}

#event-01{top: 20%;}
#event-02{top: 65%;}

/* ------------------------------------------------------------------------------------------------ */

#contacts{
    min-width: 18rem;
    font-size: 1rem;
    height: 18rem;
}

#contacts i{
    font-size: 2rem;    
    margin: 0rem 0.3rem 0rem 0.6rem;
}

#contacts .fa-envelope{
    font-size: 1.8rem;
}

#contacts a{
    height: 3rem;
    display: flex;
    flex-direction: row;
}

#contacts li:hover{
    background-color: #bae9ff;
    transition: 0.3s;
}

/* ------------------------------------------------------------------------------------------------ */

#experience {
    height: 30rem;
}

#experience .timeline-body{
    height: 30rem;
    width: 0.2rem;
    background-color: #001133;
}

#experience .content{
    display: flex;
    width: 90%;
    height: 30rem; 
}

#experience .timeline{
    height: 30rem;
}

#experience .timeline-event{
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    background-color: #def9ff;
    position: absolute; 
    transform: translateX(-40%);    
}

#e-event-01{top: 12%;}
#e-event-02{top: 35%;}
#e-event-03{top: 59%;}
#e-event-04{top: 79%;}

/* ------------------------------------------------------------------------------------------------ */

#sidebox{
    min-width: 18rem;
    font-size: 1rem;
    height: 18rem;
    padding: 0rem 0.3rem 0rem 0.6rem;
    margin-left: 1rem;
}

#sidebox li{
    height: 2rem;
}

#sidebox br{
    line-height: 5rem;
}

/* ------------------------------------------------------------------------------------------------ */
.adc{
    display: flex;
    flex-direction: column;
}

.adc .cell{
    display: flex;
    flex-direction: column;
}

.adc .row{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem ;
}

.shields{
    background-image: url(../img/Prancheta\ 10.png);
    width: 100%;
    height: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}






@media only screen and (max-width: 1200px) {
    #main-table{
        padding: 7rem 3rem 3rem 3rem;
    }
}

@media only screen and (max-width: 900px) {
    body{
        height: 145rem;
    }
    
    .body-content{
        width: 90%;
        height: 140rem;
    }
    
    #main-table{
        padding: 12rem 3rem 3rem 3rem;
    }
    
    #summary{
        height: 10rem;
    }

    #market-row{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .cell{
        width: 100%;
        display: block;
    }

    #timeline-cell{
        display: flex !important;
        flex-direction: row;
        margin: 0rem 0 0rem 0;
    }

    .row{
        flex-direction: column !important;
    }
    
    hr{
        height: 0.15rem;
        width: 100%;
        margin: 0.3rem 0 0.3rem 0;
    }
    
    #market-row .timeline{
        height: 18rem;
        min-width: 2rem !important;
        width: 2rem !important;
    }
    
    #market-row .timeline-body{
        height: 15rem;
        width: 0.15rem;
    } 

    .title{
        font-size: 1.1rem;
    }

    .content p{
        margin-left: 0.7rem;
    }
    
    #market-row .timeline-event{
        height: 1rem;
        width: 1rem; 
    }

    #experience{
        display: flex !important;
        flex-direction: row;
        margin: 12rem 0 3rem 0;
        height: 23rem;

    }

    #experience .timeline-body{
        height: 23rem;
        width: 0.15rem;
        background-color: #001133;
    }
    
    #experience ul{
        width: 100%;
    }

    #experience .content{
        display: flex;
        width: 100%;
        height: 23rem; 
    }
    
    #experience .timeline{
        height: 23rem;
        width: 2rem;
    }
    
    #experience .timeline-event{
        height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.5rem;
        background-color: #def9ff;
        position: absolute; 
        transform: translateX(-40%);    
    }

    #sidebox{
        font-size: 0.8rem;
        height: 16rem;
        padding: 0rem 0rem 0rem 0rem;
        margin-left: 0rem;
        display: block !important;
    }

    #sidebox li{
        height: 1.3rem;
    }
    
    #sidebox br{
        line-height: 2rem;
    }  
    
    .adc .row{
        margin-top: 1rem;
        margin-bottom: 1rem ;
        line-height: 1.5rem;
    }
    
    .shields{
        width: 100%;
        height: 4rem;
    }
}

@media only screen and (max-width: 600px) {
    #main-table{
        padding: 12rem 2rem 2rem 2rem;
    }

    body{
        height: 140rem;
    }
    
    .body-content{
        width: 90%;
        height: 137rem;
    }
    

}



