@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
}

section{
    background-color: #ffffff;
}

/* SECTION HERO -----------------------------------------*/

.section-hero{
    height: 90vh;
    margin: 0 0 3rem 0;
    background-color: rgb(156, 154, 255);
    /* color: #fff; */
}

.section-hero-wrapper{
    height: 90vh;
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-content{
    width: 950px;
    transform: translateX(-15%);
}

.hero-name{
    font-size: 50px;
    text-transform: uppercase;
}

.section-hero h1{
    font-size: 20px;
}

.section-hero h2{
    font-size: 18px;
    margin: 2rem 0;
    font-weight: normal;
}

.hero-contact{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* BOTAO CONTATO -------------------------------------- */

.hero-button{
    margin: 0 1rem 0 1rem;
    font-size: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.button-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero-contact svg{
    width: 1.5rem;
    margin-right: 0.5rem;
}

.button-anim{
    margin-top: 5px;
    width: 0;
    height: 3px;
    content: "";
    transition: 0.6s;
    background-color: transparent;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hero-button:hover:hover .button-anim{
    margin-top: 5px;
    width: 100%;
    background-color: white;
}

.hero-button:hover{
    color: white;
    transition: 0.6s;
}

.hero-button:hover svg{
    fill: white;
    transition: 0.6s;
}

#linkedin{
    margin: 0 1rem 0 0;
}

/* GLOBAL ----------------------------------------- */

.title{
    font-size: 45px;
    text-transform: uppercase;
}

.content{
    font-size: 18px;
    margin: 1rem 0 0 0;
    font-weight: normal;
}

/* SECTION ABOUT ------------------------------------- */

.section-about{
    margin: 3rem 0;
    /* background-color: aqua; */
}

.section-about-wrapper{
    width: 1440px;
    padding: 1.5rem;
}

.section-about .content{
    margin-left: 1.8rem;
    text-align: justify;
    line-height: 25px;
}

/* SECTION PROJECTS ---------------------------------- */

.section-projects{
    margin: 3rem 0;
    /* background-color: aqua; */
}

.section-projects-wrapper{
    width: 1440px;
    padding: 1.5rem;
}

.section-projects-wrapper{
    width: 1440px;
}

.section-projects .project{
    width: 100%;
    height: 12rem;
    position: relative;
    overflow: hidden;
}

.project img{
    /* ALINHAR PLACEHOLDER -----------------------*/
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /* FIM ALINHAR PLACEHOLDER -----------------------*/
}

.project:hover img{
    transition: 0.5s;
    opacity: 80%;
}

.project:hover{
    cursor: pointer;
    background-color: black;
}

.section-projects .project-label{
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
}

.section-projects .project-pri{
    font-size: 22px;
    font-weight: bold;
}

.section-projects .project-sec{
    font-size: 16px;
    font-weight: bold;
}

/* EXPERIENCIAS --------------------------------------*/

.section-knoledge{
    margin: 3rem 0;
    /* background-color: aqua; */
}

.section-knoledge-wrapper{
    width: 1440px;
    padding: 1.5rem;
}








.knoledge-timeline{
    transition: 0.5s;
}

.knoledge-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* transition: 0.5s; */
}

.knoledge-column{
    display: flex;
    flex-direction: column;
    flex: 4;
    /* transition: 0.5s; */
}

.column-line{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    /* transition: 0.5s; */
}

.column-line .line{
    width: 0.3rem;
    height: 25rem;
    background-color: aqua;
    position: absolute;
    /* transition: 0.5s; */
}

.column-line-icon{
    z-index: 3;
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-line svg{
    width: 2rem;
}

.knoledge-column-title{

    cursor: pointer;
    user-select: none;
}

.knoledge-column-content{
    /* display: none; */
    /* position: absolute; */
    height: 0rem;
    opacity: 0;
    color: transparent;
    transition: 0.3s;
}

.knoledge-row:hover .knoledge-column-content{
    opacity: 1;
    color: black;
    height: auto;
    transition: 0.3s;
    cursor: pointer;
    user-select: none; /* Standard syntax */
    /* transition-delay: 5s;  */

    /* position: relative; */
    /* display: block; */
}

/* .knoledge-column:not( :hover ) .knoledge-column-content {
    transition: 0.5s;
    transition-delay: 5s; 
} */

.knoledge-column-title:hover .line{
    /* width: 0.3rem; */
    /* height: 20rem; */
    /* transition: 0.5s; */
}




/* RODAPE --------------------------------------*/

footer{
    margin: 3rem 0 0 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    width: 100%;
}

.footer-wrapper{
    width: 1440px;
    background-color: aqua;
}

@media only screen and (min-width: 1800px){

}

@media only screen and (min-width: 1600px){

}

@media only screen and (max-width: 900px){    

}

@media only screen and (max-width: 600px){

}

@media only screen and (max-width: 400px){   
    .section-hero{
        height: 100vh;
        margin: 0 0 3rem 0;
    }
    
    .section-hero-wrapper{
        height: 100vh;
        width: 380px;
    }
    
    .hero-content{
        display: flex;
        flex-direction: column;
    }
    
    /* .hero-column{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */
    
    .section-about{
        margin: 3rem 0;
    }
    
    .section-about-wrapper{
        width: 380px;
    }
    
    .section-projects{
        margin: 3rem 0;
    }
    
    .section-projects-wrapper{
        width: 380px;
    }
    
    .section-knoledge{
        margin: 3rem 0;
    }
    
    .section-knoledge-wrapper{
        width: 380px;
    }
    
    footer{
        margin: 3rem 0 0 0;
    }
    
    .footer-wrapper{
        width: 380px;
    }
}

