@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #003552;
}

#hero{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.hero-backdrop{    
  width: 100%;
  height: 100vh;
  background: 
    center / cover no-repeat url(../img/Assets/Hero/HeroTexture.jpg),
    linear-gradient(135deg, rgba(81,192,252,1) 0%, rgba(203,237,255,1) 50%, rgba(173,107,255,1) 100%) 
  ;
  background-blend-mode: multiply;
  mix-blend-mode: multiply;
  position: absolute;
}

.hero-wrapper{
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  width: 500px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-name{
  background-color: #E6F3FA;
  border-radius: 30px;
  padding: 1rem 2rem;
  margin: 0.5rem 0;
  box-shadow: 3px 3px 3px #003552;
  cursor: default;
  user-select: none;
}

h1{
  font-size: 32px;
  font-weight: bold;
  cursor: default;
  user-select: none;
}

h1 p{
  margin-top: 0.3rem;
  font-size: 20px;
  font-weight: lighter;
}

.hero-buttons{
  width: 100%;
  margin: 0.5rem 0;
  display: flex;
}

#ButtonProjects{margin: 0 1rem 0 1rem;}

.button{
  font-size: 18px;
  flex: 3;
  background-color: #E6F3FA;
  border-radius: 30px;
  padding: .5rem;
  text-decoration: none;
  color: #003552;
  box-shadow: 3px 3px 3px #003552;
  
}

.button:hover{
  background-color: #AD6BFF; 
  color: #E6F3FA;
  font-weight: bold;
  transform: translateY(-20%);
  box-shadow: 3px 10px 10px #003552;
  transition: 0.3s;
  transition-delay: 0.1s;
}

.hero-content{
  cursor: default;
  user-select: none;
  width: 100%;
  background-color: #E6F3FA;
  border-radius: 30px;
  padding: 1rem 1rem 2rem 1rem;
  margin: 0.5rem 0;
  box-shadow: 3px 3px 3px #003552;
  display: flex;
  flex-direction: row;
}

.hero-content-contact{
  text-align: left;
  line-height: 30px;
  flex: 1;
  font-size: 16px;
}

.hero-content-contact span{
  margin-left: 1rem;
  font-weight: bold;
  font-size: 18px;
}

.hero-content-about{
  margin: 0rem 1rem 0 1rem ;
  text-align: left;
  flex: 2;
}

.hero-content-about span{
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.hero-content-about h2{
  font-size: 18px;
  font-weight: lighter;
  
  text-align: justify;
  text-justify: inter-word;
}

.hero-content .markdown{
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  opacity: 0.5;
}

.hero-content-contact a{
  padding: 0 1rem 0 1rem;
  text-decoration: none;
  color: #003552;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero-content-contact svg{
  height: 18px;
  width: 18px;
  display: inline-block;
  fill: #003552;
  margin-right: .3rem;
}

.hero-content-contact a:hover{
  background-color: #AD6BFF; 
  color: #E6F3FA;
  font-weight: bold;
  transition: 0.3s;
  transition-delay: 0.05s;
}

.hero-content-contact a:hover svg{
  fill: #E6F3FA;
  transition: 0.3s;
  transition-delay: 0.05s;
}








#projects{
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
  
.projects-wave{

}

.wave-cyan{
  width: 100%;
  height: 2rem;
  background-image: url("../img/Assets/Hero/WaveCyan.svg");
  content: "";
}

.wave-violet{
  width: 100%;
  height: 2rem;
  background-image: url("../img/Assets/Hero/WaveViolet.svg");
  content: "";
}

.wave-heavenblue{
  width: 100%; 
  height: 2rem;
  background-image: url("../img/Assets/Hero/WaveHeavenBlue.svg");
  content: "";
}








.projects-content{
  width: 1400px;
}










footer{
  width: 100%;
  padding: 2rem 0;
  background-color: #AD6BFF;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #E6F3FA;
  font-weight: bold;
  background: rgb(11,150,224);
  background: linear-gradient(180deg, rgba(11,150,224,1) 0%, rgba(0,53,82,1) 100%);
  cursor: default;
  user-select: none;
}  

.footer-title{
  font-size: 25.5px;
}

.footer-title p{
  font-size: 16px;
  font-weight: lighter;
}

.footer-content{
  display: flex;
  flex-direction: row;
  width: 1400px;
}

.footer-item{
  flex: 1;
  margin: 1rem 0;
}

.footer-item svg{
  height: 50px;
  width: 100%;
  fill: #E6F3FA;
  margin: 0 0 1rem 0;
}

footer .markdown{
  font-size: 13px;
  opacity: 0.5;
}

/* 
Branco Texto        -       #E6F3FA
Preto Texto         -       #003552
Tom Azul            -       #51C0FC
Tom Azul Fundo      -       #0B96E0
Tom Claro           -       #CBEDFF
Tom Claro Fundo     -       #B1CCFA
Tom Violeta         -       #AD6BFF
Tom Violeta Fundo   -       #791AED
*/


/* MEDIA QUERRY --------------------------------------*/

/* @media only screen and (min-width: 1800px){
}

@media only screen and (min-width: 1600px){
}

@media only screen and (max-width: 900px){    
}

@media only screen and (max-width: 600px){
}

@media only screen and (max-width: 400px){   
} */